# C++ objects and libs

 

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave
/Exe/*

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
/Exe/*

# QtCtreator CMake
CMakeLists.txt.user

